/* ArbFONTS Montserrat Arabic Font Family */
@font-face {
    font-family: "Montserrat-Arabic";
    src: url("ArbFONTS-Montserrat-Arabic-Black.ttf") format("opentype");
    font-weight: 250;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Arabic";
    src: url("ArbFONTS-Montserrat-Arabic-ExtraLight.otf") format("opentype");
    font-weight: 275;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Arabic";
    src: url("ArbFONTS-Montserrat-Arabic-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Arabic";
    src: url("ArbFONTS-Montserrat-Arabic-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Arabic";
    src: url("ArbFONTS-Montserrat-Arabic-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Arabic";
    src: url("ArbFONTS-Montserrat-Arabic-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Arabic";
    src: url("ArbFONTS-Montserrat-Arabic-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Arabic";
    src: url("ArbFONTS-Montserrat-Arabic-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Arabic";
    src: url("ArbFONTS-Montserrat-Arabic-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}